body {
    font-family: Arial, sans-serif;
    background:linear-gradient(aquamarine,khaki,rgb(105, 211, 105) ) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(58, 37, 37);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
}
h1 {
    margin-bottom: 15px;
}

input, select, button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

input {
    text-align: center;
}

select {
    cursor: pointer;
}

button {
    background-color: rgb(59, 95, 93);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: lightseagreen;
}